nav {
    margin: 2px;
    font-size: larger;
    background-color: darkcyan;
    color: chocolate;
  }
  .navbar{
    color: greenyellow;
  }

  .navbar{
    display: flex;
    gap: 20px;
    padding: 10px;
    color: white !important;
  }
  .hpw{
    text-align: center;
    color:crimson;
  }
  .uses{
    font-size: larger;
  }
  .uses-2{
    margin-top: 0%;
    text-align: right;
  }
  .head{
    font-size: x-large;
    text-align: center;
  }

  .home-1{
    text-decoration: none;
  }
.img-1{
    height: 600px;
    width: 764px;
}
.use-wrapper{
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  }
body{
  background: linear-gradient(
    to right,
    #24325FFF 0%,
    #24325FFF 50%,
    #E762D7FF 50%,
    #E762D7FF 100%
  );
    font-family: sans-serif;

  }
  .home-1{
    text-align: justify;
    color: white !important;
    
    font-size:larger ;
  }
.use-3{
    text-decoration: none;
    font-size: larger;
    color: white !important;

}